<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Технач</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script>
        let countPrev = 0;
        let countNext = 0;
        function showMore(n) {
            let arr = document.getElementsByClassName('post_hidden')
            countNext = countPrev + n;
            for(let i = countPrev; i < arr.length && i < countNext; i++) {
                arr[i].setAttribute('style', 'display:block');
            }
            countPrev += n;
        }
        function showHidePostForm(id) {
            let postForm = document.getElementById(id);
            let annotS = document.getElementById(`showForm${id}`);
            let annotH = document.getElementById(`hideForm${id}`);
            postForm.style.display = (postForm.style.display === 'block') ? 'none':'block'
            annotS.style.display = (annotS.style.display === 'block') ? 'none':'block'
            annotH.style.display = (annotH.style.display === 'block') ? 'none':'block'
        }
        function showHideComments(id) {
            let arr = document.getElementsByClassName(id);
            let comS = document.getElementById(`sCom${id}`);
            let comH = document.getElementById(`hCom${id}`);
            for(let i = 0; i < arr.length; i++) {
                arr[i].style.display = (arr[i].style.display === 'block') ? 'none' : 'block';
            }
            comS.style.display = (comS.style.display === 'block') ? 'none':'block'
            comH.style.display = (comH.style.display === 'block') ? 'none':'block'
        }
    </script>
</head>
<body>
<div class='header'><a href="/">Главная</a></div>
<div class="theme"><h1>Программирование</h1></div>
<div class="container">
    <div class="sidebar">
        <p class="theme_list_header">Темы</p>
        <ul class="sidebar_list">
            <li>Gamedev</li>
            <li>Комп. железо</li>
            <li>Моб. устройства</li>
            <li>Программирование</li>
            <li>Радиотехника</li>
            <li>Программы</li>
            <li>Техника</li>
            <li>Video Games</li>
            <li>The Elder Scrolls</li>
            <li>Виз-ые новеллы</li>
            <li>Аниме</li>
            <li>Манга</li>
        </ul>
    </div>
    <div class="form_container">
        <form class="add_post" method = "POST" action="">
            <div class="input">
                <div class="post_theme">
                    <input type="text" size="30" maxlength="25" name="title" required placeholder="Theme">
                </div>
                <div class="post_text">
                    <textarea class="text" rows="10" cols="25" name="text" required placeholder="Text"></textarea>
                </div>
            </div>
            <div class="inp_send">
                <div class="inp_act">
                    <input type="submit" value="Send" >
                </div>
            </div>
        </form>
    </div>
    <div class="content">
        <div class="posts">
            {{#each_upto posts n}}
                    <p><b>{{dataValues.title}}</b>  {{dataValues.createdAt}}</p>
                    <p>{{dataValues.author}}</p>
                    <p>{{dataValues.text}}</p>

                    <div class="comment_form_show" id="showForm{{dataValues.id}}"
                         onclick="showHidePostForm({{dataValues.id}})" style="display:block;">Комментировать</div>

                    <div class="comment_form_show" id="hideForm{{dataValues.id}}"
                         onclick="showHidePostForm({{dataValues.id}})" style="display:none;">Скрыть</div>

                    <div class="add_comment" id="{{dataValues.id}}">
                        <form class="add_comment_form"  method = "POST" action="/posts/comments">
                            <div class="post_text">
                                <textarea class="text" rows="10" cols="25" name="comText" required placeholder="Comment"></textarea>
                                <input type="hidden" value="{{dataValues.id}}" name="postId">
                            </div>

                            <div class="com_send">
                                <div class="inp_act">
                                    <input type="submit" value="Comment">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="reaction">
                        <form class="like_form" action="/posts/likes" method="post">
                            <input type="hidden"
                                class="like_btn" onclick="this.disabled={{stat}};"
                                value="{{dataValues.id}}"
                                name="id"/>
                            <input type="submit"
                                name="id"
                                value="Like"
                                onclick="this.disabled={{stat}};"/> {{dataValues.likes}}
                        </form>
                        <form class="dislike_form" action="/posts/likes" method="post">
                            <input type="hidden"
                                class="like_btn" onclick="this.disabled={{stat}};"
                                value="{{dataValues.id}}"
                                name="id"/>
                            <input type="submit"
                               name="id"
                               value="Dislike"
                               onclick="this.disabled={{stat}};"/> {{dataValues.dislikes}}
                        </form>
                    </div>

                    <div class="show_comments" id="sCom{{dataValues.id}}"
                         onclick="showHideComments('comments{{dataValues.id}}')" style="display:block;">Раскрыть комментарии</div>

                    <div class="show_comments" id="hCom{{dataValues.id}}"
                         onclick="showHideComments('comments{{dataValues.id}}')" style="display:none;">Скрыть комментарии</div>

                    <div class="comments{{dataValues.id}}" id="{{dataValues.id}}" style="display:none;">
                        {{#com_upto comments postId=dataValues.id com=../comments}}
                            <p>{{dataValues.author}}</p>
                            <p>{{dataValues.text}}</p>
                        {{/com_upto}}
                    </div>
            {{/each_upto}}

        </div>
        <div class="show_more" onclick="showMore({{n}})">Показать больше</div>
    </div>
    <div class="footer"></div>
</div>
</body>

</html>